<%= form_with scope: :message, url: messages_path, method: :get do |f| %>
  <div id="select-observed-members">
    <%= hidden_field_tag :selected_observed_member_ids %>
    <div class="flex flex-wrap">
    <% current_user.channel_to_observed_members.each do |channel, observed_members| %>
      <div class="flex flex-col">
      <p><%= "\##{channel.name}" %></p>
        <div class="flex items-center">
      <% observed_members.each do |observed_member| %>
        <%= check_box_tag("select-observed-member-#{observed_member.id}",
                          observed_member.id,
                          false,
                          onclick: 'onClickSearchObservedMemberCheckBox(event)')
        %>
        <p><%= "#{observed_member.slack_account.name}" %></p>
      <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <%= f.select :best_emotion, SentimentScore::ICON_TYPE.invert, include_blank: true %>
  <%= f.datetime_field :start_at %>
  <%= f.datetime_field :end_at %>
  <%= f.submit '検索', class: "px-4 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300" %>
<% end %>
