  <div class="bg-gray-100">
    <div class="container mx-auto px-3 py-3">
      <div class="mb-4">
        <%= render partial: 'message_sentiment_analysis' %>
      </div>
      <div class="mb-4 mx-1  border border-gray-400 rounded-lg">
        <div class="px-3 bg-blue-400 rounded-t-lg">
          <h3 class="text-2xl text-white">絞り込み</h3>
        </div>
        <%= render partial: 'search_bar' %>
      </div>
      <%= turbo_frame_tag 'messages' do %>
        <div class="mb-4">
          <%= render partial: 'reload' %>
        </div>
        <% if @messages.empty? %>
          <p class="text-center">投稿メッセージが存在しません。</p>
        <% else %>
          <%= render partial: 'messages', locals: { messages: @messages } %>
        <% end %>
      <% end %>
    </div>
  </div>
