  <div class="bg-gray-100">
    <div class="container mx-auto px-3 py-3">
      <div class="mb-4 mx-1  border border-gray-400 rounded-lg">
        <div class="px-3 bg-blue-400 rounded-t-lg">
          <h3 class="text-2xl text-white">絞り込み</h3>
        </div>
        <%= render partial: 'search_bar' %>
      </div>
      <%= turbo_frame_tag 'messages' do %>
        <div class="mb-4">
          <%= render partial: 'reload' %>
        </div>
        <% if @messages.empty? %>
          <p class="text-center">投稿メッセージが存在しません。</p>
        <% else %>
          <%= turbo_frame_tag 'messages' do %>
            <div class="mb-4">
              <%= link_to '感情解析',
                  create_sentiment_analysis_path,
                  class: 'px-3 py-2 h-6 mr-4 bg-blue-500 text-xs text-white rounded-full hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300'
              %>
            </div>
            <div class="flex flex-col gap-y-3">
              <%= render partial: 'message', collection: @messages %>
            </div>
            <div class="flex justify-center my-8">
              <%= paginate @messages, params: { action: 'index' } %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
