<nav>
  <% if user_signed_in? %>
    <ul class="flex space-x-4">
      <li class="mb-6">
        <%= link_to t('users.shared.links.sign_out'), destroy_user_session_path, data: { turbo_method: :delete }, class: 'px-4 py-2 bg-blue-500 text-white rounded-full hover:bg-blue-600 focus:outline-none focus:ring focus:ring-blue-300' %>
      </li>
      <li class="mb-2">
        <%= link_to 'メッセージ一覧', messages_path, class: 'text-blue-500 hover:underline' %>
      </li>
      <li class="mb-2">
        <%= link_to 'ユーザー編集', edit_user_registration_path, class: 'text-blue-500 hover:underline' %>
      </li>
    </ul>
  <% else %>
    <ul>
      <li class="mb-2">
        <%= link_to t('users.shared.links.sign_in'), new_user_session_path, class: 'text-blue-500 hover:underline' %>
      </li>
      <li class="mb-2">
        <%= link_to t('users.shared.links.sign_up'), new_user_registration_path, class: 'text-blue-500 hover:underline' %>
      </li>
    </ul>
  <% end %>
</nav>
